# DB2python

## Tilkobling

In [1]:
import sqlite3
from hjelpefunk import *  
con = sqlite3.connect("db2.db")
cursor = con.cursor()

In [2]:
#eks sletting av rader

#delete_rows(con, 'Sal', 'SalNavn', 'Hovedscenen')
#delete_rows(con, 'Sal', 'SalNavn', 'GamleScene')

#eks legge til rader 
#sal1 = ['test', 100]
#insert_row(con, 'Sal', sal1)

## Legge til eksisterende data

##### 1) Vi ønsker å sette inn de to salene nevnt over, sammen med stoler, teaterstykker, forestillinger, akter, roller, skuespillere og andre medvirkende, slik det er beskrevet i teksten over. Dette kan implementeres i SQL.

##### Sal

In [3]:
cursor.execute('''INSERT INTO Sal VALUES('Hovedscenen', 516)''')
cursor.execute('''INSERT INTO Sal VALUES('GamleScene', 332)''')
con.commit()

##### AktTabell Akt(AktNr, AktNavn, TeaterstykkeNavn)

In [4]:
cursor.execute('''INSERT INTO Akt VALUES(1, 'AktEn', 'Hovedscenen')''')
cursor.execute('''INSERT INTO Akt VALUES(2, 'AktTo', 'Hovedscenen')''')
cursor.execute('''INSERT INTO Akt VALUES(3, 'AktTre', 'Hovedscenen')''')
cursor.execute('''INSERT INTO Akt VALUES(4, 'AktFire', 'Hovedscenen')''')
cursor.execute('''INSERT INTO Akt VALUES(5, 'AktFem', 'Hovedscenen')''')
#cursor.execute('''INSERT INTO Akt VALUES(1, NULL, 'GamleScene')''')
con.commit()

IntegrityError: UNIQUE constraint failed: Akt.AktNr

#####

In [ ]:
#cursor.close()
#con.close()