# DB2python

## Tilkobling

In [37]:
import sqlite3
con = sqlite3.connect("db2.db")

In [38]:
cursor = con.cursor()

## Legge til eksisterende data

##### 1) Vi ønsker å sette inn de to salene nevnt over, sammen med stoler, teaterstykker, forestillinger, akter, roller, skuespillere og andre medvirkende, slik det er beskrevet i teksten over. Dette kan implementeres i SQL.

In [ ]:
cursor.execute('''INSERT INTO Sal VALUES('Hovedscenen', 516)''')
con.commit()

In [39]:
cursor.execute("DELETE FROM Sal WHERE name = ? AND value = ?", ('Hovedscenen', 516))

OperationalError: no such column: name

In [40]:
cursor.close()
con.close()