# DB2python

## Tilkobling

In [23]:
import sqlite3
con = sqlite3.connect("db2.db")

In [24]:
cursor = con.cursor()

## Legge til eksisterende data

##### 1) Vi ønsker å sette inn de to salene nevnt over, sammen med stoler, teaterstykker, forestillinger, akter, roller, skuespillere og andre medvirkende, slik det er beskrevet i teksten over. Dette kan implementeres i SQL.

Sal:

In [ ]:
cursor.execute('''INSERT INTO Sal VALUES('Hovedscenen', 516)''')
con.commit()

In [25]:
cursor.execute('''INSERT INTO Sal VALUES('Gamle scene', 332)''')
con.commit()

får ikke til å slette:

In [27]:
cursor.execute("DELETE FROM Sal WHERE SalNavn = ? AND Kapasitet = ?", ('Hovedscenen', 516))

Sete

Seter på Hovedscenen

In [26]:
for i in range(1, 524+1):
    if 466<i<471 or 494<i<499:
        continue
    if i <= 504:
        omraade = 'Parkett'
        if i <= 28:
            rad_nr = 1
        elif i <= 56:
            rad_nr = 2
        elif i <= 84:
            rad_nr = 3
        elif i <= 112:
            rad_nr = 4
        elif i <= 140:
            rad_nr = 5
        elif i <= 168:
            rad_nr = 6
        elif i <= 196:
            rad_nr = 7
        elif i <= 224:
            rad_nr = 8
        elif i <= 252:
            rad_nr = 9
        elif i <= 280:
            rad_nr = 10
        elif i <= 308:
            rad_nr = 11
        elif i <= 336:
            rad_nr = 12
        elif i <= 364:
            rad_nr = 13
        elif i <= 392:
            rad_nr = 14
        elif i <= 420:
            rad_nr = 15
        elif i <= 448:
            rad_nr = 16
        elif i <= 476:
            rad_nr = 17
        else:
            rad_nr = 18
    else:
        omraade = 'Galleri'
        if i <= 514:
            rad_nr = 19 #nedre galleri
        else:
            rad_nr = 20 #øvre galleri
        

    sete_nr = i
    sete_id = int(f"0{sete_nr}")
    sal_navn = 'Hovedscenen'  # Erstatt 'Ditt SalNavn' med det faktiske salnavnet

    # Sett inn i databasen
    cursor.execute('''INSERT INTO Sete VALUES(?, ?, ?, ?, ?)''', (sete_id, sete_nr, rad_nr, omraade, sal_navn))

    con.commit()

Teaterstykke

Forestilling

Akt

Rolle

Skuespiller

Ansatt

------------------------------------------------------
## con.close skal stå på slutten

In [21]:
cursor.close()
con.close()