In [4]:
import sqlite3
from hjelpefunk import *  
con = sqlite3.connect("newdatabase.db")
cursor = con.cursor()

In [ ]:
#Rolle(RolleID, 'RolleNavn')
cursor.execute('''INSERT INTO Rolle VALUES(1,'Haakon Haakonssonn')''')
cursor.execute('''INSERT INTO Rolle VALUES(2,'Inga fra Vartjeg')''')
cursor.execute('''INSERT INTO Rolle VALUES(3,'Skule Jarl')''')
cursor.execute('''INSERT INTO Rolle VALUES(4,'Ragnhild')''')
cursor.execute('''INSERT INTO Rolle VALUES(5,'Margrete')''')
cursor.execute('''INSERT INTO Rolle VALUES(6,'Sigrid')''')
cursor.execute('''INSERT INTO Rolle VALUES(7,'Ingebjorg')''')
cursor.execute('''INSERT INTO Rolle VALUES(8,'Biskop Nikolas')''')
cursor.execute('''INSERT INTO Rolle VALUES(9,'Gregorius Jonssonn')''')
cursor.execute('''INSERT INTO Rolle VALUES(10,'Paal Flida')''')
cursor.execute('''INSERT INTO Rolle VALUES(11,'Tronder')''')
cursor.execute('''INSERT INTO Rolle VALUES(12,'Baard Bratte')''')
cursor.execute('''INSERT INTO Rolle VALUES(13,'Tronder')''')
cursor.execute('''INSERT INTO Rolle VALUES(14,'Jatgeir Skald')''')
cursor.execute('''INSERT INTO Rolle VALUES(15,'Dagfinn Bonde')''')
cursor.execute('''INSERT INTO Rolle VALUES(16,'Peter')''')
con.commit()

In [5]:
#Ansatt(AnsattID, 'AnsattNavn', 'Epost', 'Ansattstatus', 'Oppgave')
cursor.execute('''INSERT INTO Ansatt VALUES(1,'Yury Butusov','butusov@trøndelagteater.no','Fast','Regi')''')
cursor.execute('''INSERT INTO Ansatt VALUES(2,'Yury Butusov','butusov@trøndelagteater.no','Fast','Musikkutvelgelse')''')
cursor.execute('''INSERT INTO Ansatt VALUES(3,'Aleksandr Shishkin-Hokusai','shishkinhokusai@trøndelagteater.no','Midlertidig','Scenografi')''')
cursor.execute('''INSERT INTO Ansatt VALUES(4,'Aleksandr Shishkin-Hokusai','shishkinhokusai@trøndelagteater.no','Innleid','Kostymer')''')
cursor.execute('''INSERT INTO Ansatt VALUES(5,'Eivind Myren','myren@trøndelagteater.no','Fast','Lysdesign')''')
cursor.execute('''INSERT INTO Ansatt VALUES(6,'Mina Rype Stokke','stokke@trøndelagteater.no','Midlertidig','Dramaturg')''')
con.commit()

In [3]:
cursor.close()
con.close()