# DB2python

## Tilkobling

In [ ]:
import sqlite3
from hjelpefunk import *  
con = sqlite3.connect("newdatabase.db")
cursor = con.cursor()

### Bruk av hjelpefunksjoner

In [ ]:
#eks sletting av rader

#delete_rows(con, 'Sal', 'SalNavn', 'Hovedscenen')
#delete_rows(con, 'Sal', 'SalNavn', 'GamleScene')

#eks legge til rader 
#sal1 = ['test', 100]
#insert_row(con, 'Sal', sal1)

## Legge til eksisterende data

##### Oppgave 1
 Vi ønsker å sette inn de to salene nevnt over, sammen med stoler, teaterstykker, forestillinger, akter, roller, skuespillere og andre medvirkende, slik det er beskrevet i teksten over. Dette kan implementeres i SQL.

In [ ]:
#Sal("SceneNavn", "Kapasitet")
cursor.execute('''INSERT INTO Sal VALUES('Hovedscenen', 516)''')
cursor.execute('''INSERT INTO Sal VALUES('GamleScene', 332)''')
con.commit()

In [ ]:
#Akt(AktNr, "AktNavn", "TeaterstykkeNavn")
cursor.execute('''INSERT INTO Akt VALUES(1, 'AktEn', 'Hovedscenen')''')
cursor.execute('''INSERT INTO Akt VALUES(2, 'AktTo', 'Hovedscenen')''')
cursor.execute('''INSERT INTO Akt VALUES(3, 'AktTre', 'Hovedscenen')''')
cursor.execute('''INSERT INTO Akt VALUES(4, 'AktFire', 'Hovedscenen')''')
cursor.execute('''INSERT INTO Akt VALUES(5, 'AktFem', 'Hovedscenen')''')
cursor.execute('''INSERT INTO Akt VALUES(1, NULL, 'GamleScene')''')
con.commit()

In [ ]:
#Forestilling(ForestillingID, Dato, StartTid, "Sesong", "SalNavn", "TeaterstykkeNavn")
sesong = "vinter/vaarsesongen 2024"
forestilling1 = [1, '2024-02-01', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']
forestilling2 = [2, '2024-02-02', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']
forestilling3 = [3, '2024-02-03', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']
forestilling4 = [4, '2024-02-05', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']
forestilling5 = [5, '2024-02-06', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']

insert_row(con, 'Forestilling', forestilling1)
insert_row(con, 'Forestilling', forestilling2)
insert_row(con, 'Forestilling', forestilling3)  
insert_row(con, 'Forestilling', forestilling4)
insert_row(con, 'Forestilling', forestilling5)

forestilling6 = [6, '2024-02-03', '18:30:00', sesong, 'GamleScene', 'Størst av alt er kjærligheten']
forestilling7 = [7, '2024-02-06', '18:30:00', sesong, 'GamleScene', 'Størst av alt er kjærligheten']
forestilling8 = [8, '2024-02-07', '18:30:00', sesong, 'GamleScene', 'Størst av alt er kjærligheten']
forestilling9 = [9, '2024-02-12', '18:30:00', sesong, 'GamleScene', 'Størst av alt er kjærligheten']
forestilling10 = [10, '2024-02-13', '18:30:00', sesong, 'GamleScene', 'Størst av alt er kjærligheten']
forestilling11 = [11, '2024-02-14', '18:30:00', sesong, 'GamleScene', 'Størst av alt er kjærligheten']

insert_row(con, 'Forestilling', forestilling6)
insert_row(con, 'Forestilling', forestilling7)
insert_row(con, 'Forestilling', forestilling8)
insert_row(con, 'Forestilling', forestilling9)
insert_row(con, 'Forestilling', forestilling10)
insert_row(con, 'Forestilling', forestilling11)

In [ ]:
cursor.close()
con.close()