# Oppskrift

Kjør alt for å
1. Legge til data i RolleStykke og SkuespillerRolle 
2. Finne hvilke skuespillere som opptrer i de forskjellige teaterstykkene

#### Tilkobling

In [1]:
import sqlite3
from hjelpefunk import *  
con = sqlite3.connect("db_01.db")
cursor = con.cursor()

# Oppgave 5


Vi ønsker å lage et query i SQL som finner hvilke (navn på) skuespillere som opptrer i de forskjellige teaterstykkene. Skriv ut navn på teaterstykke, navn på skuespiller og rolle.

### Legge til i database

In [3]:
#RolleStykke(RolleID, "TeaterstykkeNavn")
teaternavn = 'Kongsemnene'

for i in range(1, 17):
    cursor.execute('''INSERT INTO RolleStykke VALUES(?, ?)''', (i, teaternavn))


teaternavn2 = 'Storst av alt er kjaerligheten'

for i in range(17, 24):
    cursor.execute('''INSERT INTO RolleStykke VALUES(?, ?)''', (i, teaternavn2))

con.commit()

In [8]:
#SkuespillerRolle(SkuespillerID, RolleID, Dato)
dato = '2024-02-03'

#Hovedscenen
SkuespillerRolle1 = [1,1, dato,]
SkuespillerRolle2 = [2,2, dato,]
SkuespillerRolle3 = [3,3, dato,]
SkuespillerRolle4 = [4,4, dato,]
SkuespillerRolle5 = [5,5, dato,]
SkuespillerRolle6 = [6,6, dato,]
SkuespillerRolle7 = [6,7, dato,]
SkuespillerRolle8 = [7,8, dato,]
SkuespillerRolle9 = [8,9, dato,]
SkuespillerRolle10 = [9,10, dato,]
SkuespillerRolle11 = [9,11, dato,]
SkuespillerRolle12 = [10,12, dato,]
SkuespillerRolle13 = [10,13, dato,]
SkuespillerRolle14 = [11,14, dato,]
SkuespillerRolle15 = [11,15, dato,]
SkuespillerRolle16 = [12,16, dato,]

insert_row(con, 'SkuespillerRolle', SkuespillerRolle1)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle2)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle3)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle4)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle5)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle6)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle7)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle8)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle9)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle10)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle11)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle12)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle13)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle14)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle15)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle16)

#Gamle scene
SkuespillerRolle17 = [13,17, dato,]
SkuespillerRolle18 = [14,18, dato,]
SkuespillerRolle19 = [15,19, dato,]
SkuespillerRolle20 = [16,20, dato,]
SkuespillerRolle21 = [17,21, dato,]
SkuespillerRolle22 = [18,22, dato,]
SkuespillerRolle23 = [19,23, dato,]

insert_row(con, 'SkuespillerRolle', SkuespillerRolle17)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle18)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle19)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle20)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle21)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle22)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle23)

### SQL-spørring

In [4]:
sql = f''' 
        SELECT
            Teaterstykke.TeaterstykkeNavn AS Teaterstykke,
            Skuespiller.SkuespillerNavn AS Skuespiller,
            Rolle.RolleNavn AS Rolle
        FROM
            SkuespillerRolle
        JOIN Skuespiller ON SkuespillerRolle.SkuespillerID = Skuespiller.SkuespillerID
        JOIN Rolle ON SkuespillerRolle.RolleID = Rolle.RolleID
        JOIN RolleStykke ON SkuespillerRolle.RolleID = RolleStykke.RolleID
        JOIN Teaterstykke ON RolleStykke.TeaterstykkeNavn = Teaterstykke.TeaterstykkeNavn;

'''
cursor.execute(sql)

# Henter alle resultatene fra spørringen
result = cursor.fetchall()

# Gå gjennom hvert resultat og skriver ut teaterstykke, skuespiller og rolle som hører sammen
for row in result:
    teaterstykke = row[0]
    skuespiller = row[1]
    rolle = row[2]
    print(f"Teaterstykke: {teaterstykke}, Skuespiller: {skuespiller}, Rolle: {rolle}")

Teaterstykke: Kongsemnene, Skuespiller: Arturo Scotti, Rolle: Haakon Haakonssonn
Teaterstykke: Kongsemnene, Skuespiller: Ingunn Beate Strige Oyen, Rolle: Inga fra Vartjeg
Teaterstykke: Kongsemnene, Skuespiller: Hans Petter Nilsen, Rolle: Skule Jarl
Teaterstykke: Kongsemnene, Skuespiller: Madeleine Brandtzaeg Nilsen, Rolle: Ragnhild
Teaterstykke: Kongsemnene, Skuespiller: Synnove Fossum Eriksen, Rolle: Margrete
Teaterstykke: Kongsemnene, Skuespiller: Emma Caroline Deichmann, Rolle: Sigrid
Teaterstykke: Kongsemnene, Skuespiller: Emma Caroline Deichmann, Rolle: Ingebjorg
Teaterstykke: Kongsemnene, Skuespiller: Thomas Jensen Takyi, Rolle: Biskop Nikolas
Teaterstykke: Kongsemnene, Skuespiller: Per Bogstad Gulliksen, Rolle: Gregorius Jonssonn
Teaterstykke: Kongsemnene, Skuespiller: Isak Holmen Sorensen, Rolle: Paal Flida
Teaterstykke: Kongsemnene, Skuespiller: Isak Holmen Sorensen, Rolle: Tronder
Teaterstykke: Kongsemnene, Skuespiller: Fabian Heidelberg Lunde, Rolle: Baard Bratte
Teaterstykke: Kongsemnene, Skuespiller: Fabian Heidelberg Lunde, Rolle: Tronder
Teaterstykke: Kongsemnene, Skuespiller: Emil Olafsson, Rolle: Jatgeir Skald
Teaterstykke: Kongsemnene, Skuespiller: Emil Olafsson, Rolle: Dagfinn Bonde
Teaterstykke: Kongsemnene, Skuespiller: Snorre Ryen Tondel, Rolle: Peter
Teaterstykke: Storst av alt er kjaerligheten, Skuespiller: Sunniva Du Mond Nordal, Rolle: Sunniva Du Mond Nordal
Teaterstykke: Storst av alt er kjaerligheten, Skuespiller: Jo Saberniak, Rolle: Jo Saberniak
Teaterstykke: Storst av alt er kjaerligheten, Skuespiller: Marte M. Steinholt, Rolle: Marte M. Steinholt
Teaterstykke: Storst av alt er kjaerligheten, Skuespiller: Tor Ivar Hagen, Rolle: Tor Ivar Hagen
Teaterstykke: Storst av alt er kjaerligheten, Skuespiller: Trond-Ove Skrodal, Rolle: Trond-Ove Skrodal
Teaterstykke: Storst av alt er kjaerligheten, Skuespiller: Natalie Grondahl Tangen, Rolle: Natalie Grondahl Tangen
Teaterstykke: Storst av alt er kjaerligheten, Skuespiller: Aasmund Flaten, Rolle: Aasmund Flaten

In [28]:
cursor.close()
con.close()