# Oppgave 5


Vi ønsker å lage et query i SQL som finner hvilke (navn på) skuespillere som opptrer i de forskjellige teaterstykkene. Skriv ut navn på teaterstykke, navn på skuespiller og rolle.

In [1]:
import sqlite3
from hjelpefunk import *  
con = sqlite3.connect("db_01.db")
cursor = con.cursor()

In [4]:
#RolleStykke(RolleID, "TeaterstykkeNavn")
cursor.execute('''INSERT INTO RolleStykke VALUES(1, 'Kongsemnene')''')
cursor.execute('''INSERT INTO RolleStykke VALUES(2, 'Størst av alt er kjærligheten')''')

con.commit()

In [2]:
# #Teaterstykke("TeaterstykkeNavn")
# cursor.execute('''INSERT INTO Teaterstykke VALUES('Kongsemnene')''')
# cursor.execute('''INSERT INTO Teaterstykke VALUES('Størst av alt er kjærligheten')''')
# con.commit()

In [8]:
#SkuespillerRolle(SkuespillerID, RolleID, Dato)
dato = '2024-02-03'

#Hovedscenen
SkuespillerRolle1 = [1,1, dato,]
SkuespillerRolle2 = [2,2, dato,]
SkuespillerRolle3 = [3,3, dato,]
SkuespillerRolle4 = [4,4, dato,]
SkuespillerRolle5 = [5,5, dato,]
SkuespillerRolle6 = [6,6, dato,]
SkuespillerRolle7 = [6,7, dato,]
SkuespillerRolle8 = [7,8, dato,]
SkuespillerRolle9 = [8,9, dato,]
SkuespillerRolle10 = [9,10, dato,]
SkuespillerRolle11 = [9,11, dato,]
SkuespillerRolle12 = [10,12, dato,]
SkuespillerRolle13 = [10,13, dato,]
SkuespillerRolle14 = [11,14, dato,]
SkuespillerRolle15 = [11,15, dato,]
SkuespillerRolle16 = [12,16, dato,]

insert_row(con, 'SkuespillerRolle', SkuespillerRolle1)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle2)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle3)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle4)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle5)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle6)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle7)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle8)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle9)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle10)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle11)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle12)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle13)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle14)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle15)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle16)

#Gamle scene
SkuespillerRolle17 = [13,17, dato,]
SkuespillerRolle18 = [14,18, dato,]
SkuespillerRolle19 = [15,19, dato,]
SkuespillerRolle20 = [16,20, dato,]
SkuespillerRolle21 = [17,21, dato,]
SkuespillerRolle22 = [18,22, dato,]
SkuespillerRolle23 = [19,23, dato,]

insert_row(con, 'SkuespillerRolle', SkuespillerRolle17)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle18)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle19)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle20)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle21)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle22)
insert_row(con, 'SkuespillerRolle', SkuespillerRolle23)

In [2]:
# # def get_teaterstykke_skuespiller_rolle()  :
# sql = f'''  
#     SELECT Teaterstykke.TeaterstykkeNavn AS Teaterstykke,
#                     Skuespiller.SkuespillerNavn AS Skuespiller,
#                     Rolle.RolleNavn AS Rolle
#     FROM Teaterstykke
#     JOIN RolleStykke ON Teaterstykke.TeaterstykkeNavn = RolleStykke.TeaterstykkeNavn
#     JOIN Rolle ON RolleStykke.RolleID = Rolle.RolleID
#     JOIN SkuespillerRolle ON Rolle.RolleID = SkuespillerRolle.RolleID
#     JOIN Skuespiller ON SkuespillerRolle.SkuespillerID = Skuespiller.SkuespillerID
#     GROUP BY Teaterstykke.TeaterstykkeNavn;
#     '''
# # sql = f'''
#     SELECT Teaterstykke.TeaterstykkeNavn AS Teaterstykke,
#         Skuespiller.SkuespillerNavn AS Skuespiller,
#         Rolle.RolleNavn AS Rolle
#     FROM Teaterstykke
#     JOIN RolleStykke ON Teaterstykke.TeaterstykkeNavn = RolleStykke.TeaterstykkeNavn
#     JOIN Rolle ON RolleStykke.RolleID = Rolle.RolleID
#     JOIN SkuespillerRolle ON Rolle.RolleID = SkuespillerRolle.RolleID
#     JOIN Skuespiller ON SkuespillerRolle.SkuespillerID = Skuespiller.SkuespillerID
#     ORDER BY Teaterstykke.TeaterstykkeNavn;
#     '''

sql = f'''SELECT Teaterstykke.TeaterstykkeNavn AS Teaterstykke,
            Skuespiller.SkuespillerNavn AS Skuespiller,
            Rolle.RolleNavn AS Rolle
    FROM Rolle
    JOIN RolleStykke ON Rolle.RolleID = RolleStykke.RolleID
    JOIN Teaterstykke ON Teaterstykke.TeaterstykkeNavn = RolleStykke.TeaterstykkeNavn
    JOIN SkuespillerRolle ON Rolle.RolleID = SkuespillerRolle.RolleID
    JOIN Skuespiller ON SkuespillerRolle.SkuespillerID = Skuespiller.SkuespillerID
    
    '''


# sql = f'''    
#         SELECT Teaterstykke.TeaterstykkeNavn AS Teaterstykke,
#             GROUP_CONCAT(Skuespiller.SkuespillerNavn) AS Skuespillere,
#             GROUP_CONCAT(Rolle.RolleNavn) AS Roller
#         FROM Rolle
#         JOIN RolleStykke ON Rolle.RolleID = RolleStykke.RolleID
#         JOIN Teaterstykke ON Teaterstykke.TeaterstykkeNavn = RolleStykke.TeaterstykkeNavn
#         JOIN SkuespillerRolle ON Rolle.RolleID = SkuespillerRolle.RolleID
#         JOIN Skuespiller ON SkuespillerRolle.SkuespillerID = Skuespiller.SkuespillerID
#         GROUP BY Teaterstykke.TeaterstykkeNavn;

#         '''

# ORDER BY Teaterstykke.TeaterstykkeNavn;
# kjører SQL-spørringen
cursor.execute(sql)

# Henter alle resultatene fra spørringen
result = cursor.fetchall()
print(result)

# Gå gjennom hvert resultat og skriver ut teaterstykke, skuespiller og rolle som hører sammen
# for row in result:
#     teaterstykke = row[]
#     skuespiller = row[]
#     rolle = row[]
#     print(f"Teaterstykke: {teaterstykke}, Skuespiller: {skuespiller}, Rolle: {rolle}")

[('Kongsemnene', 'Arturo Scotti', 'Haakon Haakonssonn'), ('Størst av alt er kjærligheten', 'Ingunn Beate Strige Oyen', 'Inga fra Vartjeg')]

In [40]:
cursor.close()
con.close()