# Oppgave 5


Vi ønsker å lage et query i SQL som finner hvilke (navn på) skuespillere som opptrer i de forskjellige teaterstykkene. Skriv ut navn på teaterstykke, navn på skuespiller og rolle.

In [ ]:
import sqlite3
from hjelpefunk import *  
con = sqlite3.connect("newdatabase.db")
cursor = con.cursor()

In [ ]:
#RolleStykke(RolleID, "TeaterstykkeNavn")
cursor.execute('''INSERT INTO RolleStykke VALUES(1, 'Hovedscenen')''')

con.commit()

In [ ]:
cursor.close()
con.close()