# Oppgave 5


Vi ønsker å lage et query i SQL som finner hvilke (navn på) skuespillere som opptrer i de forskjellige teaterstykkene. Skriv ut navn på teaterstykke, navn på skuespiller og rolle.

In [1]:
import sqlite3
from hjelpefunk import *  
con = sqlite3.connect("db_01.db")
cursor = con.cursor()

In [ ]:
#RolleStykke(RolleID, "TeaterstykkeNavn")
cursor.execute('''INSERT INTO RolleStykke VALUES(1, 'Hovedscenen')''')

con.commit()

In [ ]:
#Teaterstykke("TeaterstykkeNavn")
cursor.execute('''INSERT INTO Teaterstykke VALUES('Kongsemnene')''')
cursor.execute('''INSERT INTO Teaterstykke VALUES('Størst av alt er kjærligheten')''')
con.commit()

In [ ]:
#SkuespillerRolle(SkuespillerID, RolleID, Dato)

con.commit()

In [ ]:
# def get_teaterstykke_skuespiller_rolle()  :
sql = f'''  
    SELECT DISTINCT Teaterstykke.TeaterstykkeNavn AS Teaterstykke,
                    Skuespiller.SkuespillerNavn AS Skuespiller,
                    Rolle.RolleNavn AS Rolle
    FROM Teaterstykke
    JOIN RolleStykke ON Teaterstykke.TeaterstykkeNavn = RolleStykke.TeaterstykkeNavn
    JOIN Rolle ON RolleStykke.RolleID = Rolle.RolleID
    JOIN SkuespillerRolle ON Rolle.RolleID = SkuespillerRolle.RolleID
    JOIN Skuespiller ON SkuespillerRolle.SkuespillerID = Skuespiller.SkuespillerID;
    '''

# kjører SQL-spørringen
cursor.execute(sql)

# Henter alle resultatene fra spørringen
result = cursor.fetchall()

# Gå gjennom hvert resultat og skriver ut teaterstykke, skuespiller og rolle som hører sammen
for row in result:
    teaterstykke = row['Teaterstykke']
    skuespiller = row['Skuespiller']
    rolle = row['Rolle']
    print(f"Teaterstykke: {teaterstykke}, Skuespiller: {skuespiller}, Rolle: {rolle}")

In [ ]:
cursor.close()
con.close()