# Oppskrift

Trykk "run all", og skriv inn ønsket dato. Eksempeldata: 2024-02-03

#### Tilkobling

In [4]:
import sqlite3
from hjelpefunk import *  
con = sqlite3.connect("db_01.db")
cursor = con.cursor()

# Oppgave 4
Her skal du implementere et Pythonprogram (med bruk av SQL) som tar inn
en dato og skriver ut hvilke forestillinger som finnes på denne datoen og lister opp hvor mange billetter (dvs. stoler) som er solgt. Ta også med forestillinger hvor det ikke er solgt noen billetter.

In [5]:
#Hente ut dato
wanted_date = input("Skriv inn dato (YYYY-MM-DD): ")

sql = f'''SELECT Forestilling.*, Teaterstykke.TeaterstykkeNavn, COUNT(Billett.BillettID) as AntallBilletter
            FROM Forestilling
            JOIN Teaterstykke
            ON Forestilling.TeaterstykkeNavn = Teaterstykke.TeaterstykkeNavn
            JOIN Billett
            ON Forestilling.ForestillingsID = Billett.ForestillingsID
            WHERE Forestilling.dato = '{wanted_date}'
            GROUP BY Teaterstykke.TeaterstykkeNavn; '''

#Kjører SQL spørringen
cursor.execute(sql)

#Henter ut resultatet
result = cursor.fetchall()

#selekterer ønsket data
play_result = [result[-2:] for result in result]

#Går gjennom resultatet og printer ut
print(f'For {wanted_date} er det følgende forestillinger og solgte billetter:')
print('-----------------------------')
for play in play_result:
    print(f'Forestilling: {play[0]}')
    print(f'Antall solgte billetter: {play[1]}')
    print('-----------------------------')

For 2024-02-03 er det følgende forestillinger og solgte billetter:
-----------------------------
Forestilling: Kongsemnene
Antall solgte billetter: 65
-----------------------------
Forestilling: Storst av alt er kjaerligheten
Antall solgte billetter: 27
-----------------------------

In [6]:
cursor.close()
con.close()