# Oppskrift

Kjør ENTEN alle blokkene hver for seg, og se databasen oppdatere seg, ELLER trykk "run all" og legg til alt samtidig.

#### Tilkobling

In [1]:
import sqlite3
from hjelpefunk import *  
con = sqlite3.connect("db_01.db")
cursor = con.cursor()

# Oppgave 1
 Vi ønsker å sette inn de to salene nevnt over, sammen med stoler, teaterstykker, forestillinger, akter, roller, skuespillere og andre medvirkende, slik det er beskrevet i teksten over. Dette kan implementeres i SQL.

Setter inn saler og stoler

In [5]:
#Sal("SalNavn", "Kapasitet")
cursor.execute('''INSERT INTO Sal VALUES('Hovedscenen', 516)''')
cursor.execute('''INSERT INTO Sal VALUES('Gamle Scene', 332)''')
con.commit()

Setter inn teaterstykker

In [6]:
#Teaterstykke("TeaterstykkeNavn")
cursor.execute('''INSERT INTO Teaterstykke VALUES('Kongsemnene')''')
cursor.execute('''INSERT INTO Teaterstykke VALUES('Storst av alt er kjaerligheten')''')
con.commit()

Setter inn forestillinger

In [3]:
#Forestilling(ForestillingID, Dato, StartTid, "Sesong", "SalNavn", "TeaterstykkeNavn")
sesong = "vinter/vaarsesongen 2024"
forestilling1 = [1, '2024-02-01', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']
forestilling2 = [2, '2024-02-02', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']
forestilling3 = [3, '2024-02-03', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']
forestilling4 = [4, '2024-02-05', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']
forestilling5 = [5, '2024-02-06', '19:00:00', sesong, 'Hovedscenen', 'Kongsemnene']

insert_row(con, 'Forestilling', forestilling1)
insert_row(con, 'Forestilling', forestilling2)
insert_row(con, 'Forestilling', forestilling3)  
insert_row(con, 'Forestilling', forestilling4)
insert_row(con, 'Forestilling', forestilling5)

forestilling6 = [6, '2024-02-03', '18:30:00', sesong, 'Gamle Scene', 'Storst av alt er kjaerligheten']
forestilling7 = [7, '2024-02-06', '18:30:00', sesong, 'Gamle Scene', 'Storst av alt er kjaerligheten']
forestilling8 = [8, '2024-02-07', '18:30:00', sesong, 'Gamle Scene', 'Storst av alt er kjaerligheten']
forestilling9 = [9, '2024-02-12', '18:30:00', sesong, 'Gamle Scene', 'Storst av alt er kjaerligheten']
forestilling10 = [10, '2024-02-13', '18:30:00', sesong, 'Gamle Scene', 'Storst av alt er kjaerligheten']
forestilling11 = [11, '2024-02-14', '18:30:00', sesong, 'Gamle Scene', 'Storst av alt er kjaerligheten']

insert_row(con, 'Forestilling', forestilling6)
insert_row(con, 'Forestilling', forestilling7)
insert_row(con, 'Forestilling', forestilling8)
insert_row(con, 'Forestilling', forestilling9)
insert_row(con, 'Forestilling', forestilling10)
insert_row(con, 'Forestilling', forestilling11)

Setter inn akter

In [3]:
#Akt(AktNr, "AktNavn", "TeaterstykkeNavn")
cursor.execute('''INSERT INTO Akt VALUES(1, 'AktEn', 'Kongsemnene')''')
cursor.execute('''INSERT INTO Akt VALUES(2, 'AktTo', 'Kongsemnene')''')
cursor.execute('''INSERT INTO Akt VALUES(3, 'AktTre', 'Kongsemnene')''')
cursor.execute('''INSERT INTO Akt VALUES(4, 'AktFire', 'Kongsemnene')''')
cursor.execute('''INSERT INTO Akt VALUES(5, 'AktFem', 'Kongsemnene')''')
cursor.execute('''INSERT INTO Akt VALUES(1, NULL, 'Storst av alt er kjaerligheten')''')
con.commit()

Setter inn roller

In [15]:
#Rolle(RolleID, 'RolleNavn')

#Kongsemnene
cursor.execute('''INSERT INTO Rolle VALUES(1,'Haakon Haakonssonn')''')
cursor.execute('''INSERT INTO Rolle VALUES(2,'Inga fra Vartjeg')''')
cursor.execute('''INSERT INTO Rolle VALUES(3,'Skule Jarl')''')
cursor.execute('''INSERT INTO Rolle VALUES(4,'Ragnhild')''')
cursor.execute('''INSERT INTO Rolle VALUES(5,'Margrete')''')
cursor.execute('''INSERT INTO Rolle VALUES(6,'Sigrid')''')
cursor.execute('''INSERT INTO Rolle VALUES(7,'Ingebjorg')''')
cursor.execute('''INSERT INTO Rolle VALUES(8,'Biskop Nikolas')''')
cursor.execute('''INSERT INTO Rolle VALUES(9,'Gregorius Jonssonn')''')
cursor.execute('''INSERT INTO Rolle VALUES(10,'Paal Flida')''')
cursor.execute('''INSERT INTO Rolle VALUES(11,'Tronder')''')
cursor.execute('''INSERT INTO Rolle VALUES(12,'Baard Bratte')''')
cursor.execute('''INSERT INTO Rolle VALUES(13,'Tronder')''')
cursor.execute('''INSERT INTO Rolle VALUES(14,'Jatgeir Skald')''')
cursor.execute('''INSERT INTO Rolle VALUES(15,'Dagfinn Bonde')''')
cursor.execute('''INSERT INTO Rolle VALUES(16,'Peter')''')

#Størst av alt er kjærligheten
cursor.execute('''INSERT INTO Rolle VALUES(17,'Sunniva Du Mond Nordal')''')
cursor.execute('''INSERT INTO Rolle VALUES(18,'Jo Saberniak')''')
cursor.execute('''INSERT INTO Rolle VALUES(19,'Marte M. Steinholt')''')
cursor.execute('''INSERT INTO Rolle VALUES(20,'Tor Ivar Hagen')''')
cursor.execute('''INSERT INTO Rolle VALUES(21,'Trond-Ove Skrodal')''')
cursor.execute('''INSERT INTO Rolle VALUES(22,'Natalie Grondahl Tangen')''')
cursor.execute('''INSERT INTO Rolle VALUES(23,'Aasmund Flaten')''')

con.commit()

Setter inn skuespillere

In [17]:
#Skuespiller(SkuespillerID, "SkuespillerNavn")

#Kongsemnene
cursor.execute('''INSERT INTO Skuespiller VALUES(1, 'Arturo Scotti')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(2, 'Ingunn Beate Strige Oyen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(3, 'Hans Petter Nilsen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(4, 'Madeleine Brandtzaeg Nilsen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(5, 'Synnove Fossum Eriksen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(6, 'Emma Caroline Deichmann')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(7, 'Thomas Jensen Takyi')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(8, 'Per Bogstad Gulliksen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(9, 'Isak Holmen Sorensen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(10, 'Fabian Heidelberg Lunde')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(11, 'Emil Olafsson')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(12, 'Snorre Ryen Tondel')''')

#Størst av alt er kjærligheten
cursor.execute('''INSERT INTO Skuespiller VALUES(13, 'Sunniva Du Mond Nordal')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(14, 'Jo Saberniak')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(15, 'Marte M. Steinholt')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(16, 'Tor Ivar Hagen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(17, 'Trond-Ove Skrodal')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(18, 'Natalie Grondahl Tangen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(19, 'Aasmund Flaten')''')
con.commit()

Setter inn andre medvirkende (Ansatte)

In [11]:
#Ansatt(AnsattID, 'AnsattNavn', 'Epost', 'Ansattstatus', 'Oppgave')
cursor.execute('''INSERT INTO Ansatt VALUES(1,'Yury Butusov','butusov@trondelagteater.no','Fast','Regi')''')
cursor.execute('''INSERT INTO Ansatt VALUES(2,'Yury Butusov','butusov@trondelagteater.no','Fast','Musikkutvelgelse')''')
cursor.execute('''INSERT INTO Ansatt VALUES(3,'Aleksandr Shishkin-Hokusai','shishkinhokusai@trondelagteater.no','Midlertidig','Scenografi')''')
cursor.execute('''INSERT INTO Ansatt VALUES(4,'Aleksandr Shishkin-Hokusai','shishkinhokusai@trondelagteater.no','Innleid','Kostymer')''')
cursor.execute('''INSERT INTO Ansatt VALUES(5,'Eivind Myren','myren@trondelagteater.no','Fast','Lysdesign')''')
cursor.execute('''INSERT INTO Ansatt VALUES(6,'Mina Rype Stokke','stokke@trondelagteater.no','Midlertidig','Dramaturg')''')
con.commit()

In [3]:
cursor.close()
con.close()