In [ ]:
#Skuespiller(SkuespillerID, "SkuespillerNavn")
cursor.execute('''INSERT INTO Skuespiller VALUES(1, 'Arturo Scotti')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(2, 'Ingunn Beate Strige Oyen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(3, 'Hans Petter Nilsen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(4, 'Madeleine Brandtzaeg Nilsen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(5, 'Synnove Fossum Eriksen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(6, 'Emma Caroline Deichmann')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(7, 'Thomas Jensen Takyi')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(8, 'Per Bogstad Gulliksen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(9, 'Isak Holmen Sorensen')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(10, 'Fabian Heidelberg Lunde')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(11, 'Emil Olafsson')''')
cursor.execute('''INSERT INTO Skuespiller VALUES(12, 'Snorre Ryen Tondel')''')

con.commit()